<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="server.js" verb="*" modules="CgiModule" scriptProcessor="C:\Program Files\nodejs\node.exe" resourceType="File" />
        </handlers>
        <defaultDocument enabled="false">
            <files>
                <clear />
                <add value="server.js" />
            </files>
        </defaultDocument>
        <directoryBrowse enabled="true" />
        <rewrite>
            <rules>
                <rule name="StaticContent" enabled="true">
                    <match url="^(.*)$" />
                    <action type="Rewrite" url="public{REQUEST_URI}" />
                </rule>
                <rule name="DynamicContent">
                    <match url="^(.*)$" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="server.js" />
                </rule>
                <rule name="NodeInspector">
                    <match url="^server.js\/debug[\/]?$" />
                    <action type="Rewrite" url="server.js/debug" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <system.web>
        <sessionState mode="Off" />
    </system.web>
</configuration>
